body {
  font: 16px sans-serif;
  background: url(http://people.ucsc.edu/~kercoffm/1928853.jpg) repeat-x;
  background-repeat: repeat-y;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text{
  font-family: sans-serif;
  font-size: 11px;
}


text {
    stroke: black;
    stroke-width: 0.5px;
    fill: #000000;
    font-size: .7em;
    font-family:sans-serif;
}

#our_intro {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align:center; 
    color:DarkOrange;
    font-weight: bold;
}

b {
    font-weight:bold;
}

h4, h5 {
    color: white;
}
h5 {
    text-decoration: underline;
    font-weight: bold;
}

ul {
    color: white;
}

a {
    color: CornflowerBlue;
    text-decoration: none;
}
a:link{
    color: CornflowerBlue;
    text-decoration: none;
}
a:hover{
    color: DarkOrange;
    text-decoration: underline;
    
}
a:visited {
    color: DarkOrange;
    text-decoration: none;
}

.label {
    fill: "black";
}

/*Background color is to make mousemove function more visible.*/
.chart { 
  background: #DCDCDC;
}

p {
  font: 12px helvetica;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

button {
  position: absolute;
  right: 50px;
  top: 10px;
}

#required_content{
    float: right;
    width: 48%;
}

#legend{
    float: right;
    width: 48%;
    color: white;
}

#d3_content{
    float: left;
    width: 48%;
    color: white;
}

#tooltip_placement {
    
}

#buttonContainer{
    margin-left: 27%;
    margin-right: 23%;
    width: 50%;
}
